@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Inter&family=Montserrat:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/jenriv-titling');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
body {
   background-color: rgb(223, 223, 223);
}
